<template>
    <div class="border border-primary">
        <h1>Praking Lots Component</h1>
        <form id="contact-form" method="get" action="" role="form" @submit.prevent="onSubmit"
              @keydown="form.errors.clear($event.target.name)">
            <div class="messages">
                <div class="alert alert-success alert-block" v-if="form.success.length">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong v-text="form.success"></strong>
                </div>

                <div class="alert alert-danger" v-if="form.errors.any()">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <ul>
                        <li v-for="errors in form.errors.errors">
                            <div v-for="error in errors">
                                {{ error }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div v-for="lot in form.lots">
                            <button type="button" class="btn"
                                    v-bind:class="{ 'btn-primary': lot.ticket.length == 0, 'btn-danger': lot.ticket.length > 0 }">
                                {{ lot.lot_name }}
                                {{lot.parking_lot_id }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-lg btn-success btn-send" value="Update Lots View">
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {Form, Error} from '../form.js';

    export default {
        data() {
            return {
                form: new Form({
                    lots: [],
                    success: ''
                }),
            }
        },

        methods: {
            onSubmit(event) {
                console.log('submit');
                this.form.get('/lots').then(response => {
                    console.log('Success');

                    this.form.lots = response;

                    //fix Vue form reset bug in Firefox
                    event.target.reset();
                }).catch(reject => console.log('Errors'));
            }
        },

        mounted() {
            console.log('Component mounted.');
            this.onSubmit();
        }
    }
</script>
