<template>
    <div>
        <lots-component/>
        <tickets-component/>
        <ticket-pay-component/>
    </div>
</template>

<script>
    import LotsComponent from './LotsComponent.vue'
    import TicketsComponent from './TicketsComponent.vue'
    import TicketPayComponent from './TicketPayComponent.vue'

    export default {

        components: {
            'lots-component': LotsComponent,
            'tickets-component': TicketsComponent,
            'ticket-pay-component': TicketPayComponent
        },

        mounted() {
            console.log('test mounted.')
        }
    }
</script>
