<template>
    <div class="border border-primary">
    <h1>Ticket Pay Component</h1>
    <form id="contact-form" method="get" action="" role="form" @submit.prevent="onSubmit"
          @keydown="form.errors.clear($event.target.name)">
        <div class="messages">
            <div class="alert alert-success alert-block" v-if="form.success.length">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong v-text="form.success"></strong>
            </div>

            <div class="alert alert-danger" v-if="form.errors.any()">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <ul>
                    <li v-for="errors in form.errors.errors">
                        <div v-for="error in errors">
                            {{ error }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_card_number">Card Number *</label>
                    <input id="form_card_number" type="text" name="card_number" class="form-control"
                           placeholder="Please enter your card number *" required="required" v-model="form.card_number"
                           v-bind:class="{ 'is-invalid': form.errors.has('card_number') }">
                    <span class="invalid-feedback" v-if="form.errors.has('card_number')"
                          v-text="form.errors.get('card_number')"></span>
                </div>
                <div class="form-group">
                    <label for="form_ticket_id">Ticket Id *</label>
                    <input id="form_ticket_id" type="text" name="ticket_id" class="form-control"
                           placeholder="Please enter your ticket_id *" required="required" v-model="form.ticket_id"
                           v-bind:class="{ 'is-invalid': form.errors.has('ticket_id') }">
                    <span class="invalid-feedback" v-if="form.errors.has('ticket_id')"
                          v-text="form.errors.get('ticket_id')"></span>
                </div>
            </div>

            <div class="col-md-12">
                <input type="submit" class="btn btn-lg btn-success btn-send" value="Pay">
            </div>
        </div>
    </form>
    </div>
</template>

<script>
    import {Form, Error} from '../form.js';

    export default {
        data() {
            return {
                form: new Form({
                    card_number: '',
                    ticket_id: '',
                    success: '',
                }),
            }
        },

        methods: {
            onSubmit(event) {
                console.log('submit');
                console.log(this.form.ticket_id);
                this.form.post('/payments/' + this.form.ticket_id).then(response => {
                    console.log('Success');

                    //fix Vue form reset bug in Firefox
                    event.target.reset();
                }).catch(reject => console.log('Errors'));
            },
        },

        mounted() {
            console.log('Component ticket-pay-component mounted.');
        }
    }
</script>
