<template>
    <div class="border border-primary">
    <h1>Tickets Component</h1>
    <form id="contact-form" method="get" action="" role="form" @submit.prevent="onSubmit"
          @keydown="form.errors.clear($event.target.name)">
        <div class="messages">
            <div class="alert alert-success alert-block" v-if="form.success.length">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong v-text="form.success"></strong>
            </div>

            <div class="alert alert-danger" v-if="form.errors.any()">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <ul>
                    <li v-for="errors in form.errors.errors">
                        <div v-for="error in errors">
                            {{ error }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div v-for="ticket in form.tickets">
                        <button type="button" class="btn" v-bind:class="{ 'btn-primary': ticket.paid, 'btn-danger': !ticket.paid }">
                            <div>id:{{ ticket.id }}</div>
                            <div>Parking Lot:{{ ticket.parking_lot.lot_name }}</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="alert alert-success alert-block" v-if="form.newTicket != ''">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>New Ticket Id:</strong>
                <strong v-text="form.newTicket"></strong>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-lg btn-success btn-send" value="Update Tickets View">
                <input type="button" name="get_new_ticket" v-on:click="onNewTicket" class="btn btn-lg btn-dark" value="Get New ticket">
            </div>
        </div>
    </form>
    </div>
</template>

<script>
    import {Form, Error} from '../form.js';

    export default {
        data() {
            return {
                form: new Form({
                    tickets: [],
                    success: '',
                    newTicket: ''
                }),
            }
        },

        methods: {
            onSubmit(event) {
                console.log('submit');
                console.log(event);
                this.form.get('/tickets').then(response => {
                    console.log('Success');

                    this.form.tickets = response;

                    //fix Vue form reset bug in Firefox
                    // event.target.reset();
                }).catch(reject => console.log('Errors'));
            },

            onNewTicket(event) {
                this.form.newTicket = '';
                console.log('new ticket');
                this.form.post('/tickets').then(response => {
                    console.log('Success');

                    this.form.newTicket = response;
                    console.log(this.form.newTicket);
                }).catch(reject => {console.log('Errors');});
            }
        },

        mounted() {
            console.log('Component tickets-component mounted.');
            this.onSubmit();
        }
    }
</script>
